@model MyAlbumDetailViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>앨범 상세</h2>

<div class="row">
    <div class="col-md-3">@Model.Album.UserId</div>
</div>
<div class="row">
    <div class="col-md-3">@Model.Album.Title</div>
</div>


<h3>목록</h3>
@foreach (var item in Model.Photos)
    {
        <div class="row">
            <div class="col-md-2">
                <img src="@item.ThumbnailUrl" alt="@item.Title"/>
            </div>
            <div class="col-md-5">
                <p>@item.Title</p>
            </div>
        </div>
    }        